nav{
    background-color:black;
    color: white;
    padding-top:30px ;
    font-size: 20px;
    
}  
body{
    
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color:tomato;
}
.recommendation{
    font-size: 50px;
    color:gray;
}
footer{
    background-color:darkgrey;
    margin-top:400px;
   
}
footer p{
    color: white;
    padding-top:15px;
    padding-bottom:15px;

}
