<!DOCTYPE html>
<html lang=“en”>
<head>
    <meta charset=“UTF-8">
    <meta name=“viewport” content=“width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
    <link rel="stylesheet" href="./static/style2.css">
</head>
<body>
    <nav>Here is your Result!!</nav>
    <div class="recommendation">
    <h1>Movie Recommendation</h1>  
    <ul style="list-style-type:none">
    {% for movie in movie_list %}
    <li>{{movie}}</li>
    {% endfor %}
    </div>
    <footer>
    <p>go to the main <a href="/">page</a></p>
</footer>
</body>
</html>